<button class="modal__btn-close" type="button" data-modal-close>
</button>
<img class="modal__author-img" src="{{images.3.url}}" alt="poster">
<div class="modal__position">
    <div class="modal__poster-container">
        <img class="modal__poster-img visually-hidden" src="{{images.1.url}}" alt="poster" width="233" height="416" />
    </div>
    <div class="modal__info">
        <ul class="list modal__list">
            <li>
                {{#if info}}
                    <span class="modal__info-title">Info</span>
                {{/if}}
                <p class="modal__info-text">
                    {{info}}
                </p>
            </li>
            <li>
                <span class="modal__info-title">When</span>
                <p class="modal__info-text">{{date}}{{#if time}} at {{/if}}{{time}} </p>

                {{!-- timer >>>>>>>>>>>>>>>>>>>>>>>>> --}}
                <div class="timer puff-in-center" id="timer-1">
                  <div class="field">
                    <span class="value" data-value="days">00</span>
                    <span class="label">Days</span>
                  </div>
                
                  <div class="field">
                    <span class="value" data-value="hours">00</span>
                    <span class="label">Hours</span>
                  </div>
                
                  <div class="field">
                    <span class="value" data-value="mins">00</span>
                    <span class="label">Minutes</span>
                  </div>
                
                  <div class="field">
                    <span class="value" data-value="secs">00</span>
                    <span class="label">Seconds</span>
                  </div>
                </div>
                {{!-- timer <<<<<<<<<<<<<<<<<<<<<<<< --}}
                
            </li>
            <li>
                <span class="modal__info-title">Where</span>
                <p class="modal__info-text">{{where}}</p>
            </li>
            <li>
                <span class="modal__info-title">Who</span>
                <p class="modal__info-text">{{who}}</p>
            </li>
            <li>
                <span class="modal__info-title">Prices</span>
                <p class="modal__info-text">{{priceRanges.0.[type]}} {{priceRanges.0.[min]}} - {{priceRanges.0.[max]}}
                    {{priceRanges.0.[currency]}} </p>

                <ul class="list modal__btn-container">
            </li>
            {{#if products.0.[url]}}
            <li> <a class="modal__btn modal__btn-buy" href='{{products.0.[url]}}' target="_blank">Buy tickets</a>
                {{else}}
                <a class="modal__btn modal__btn-buy" href='{{ attractions.0.[url]}}' target="_blank">Buy tickets</a>

                {{/if}}
            </li>

            {{#if priceRanges.1.[type]}}
            <p class="modal__info-text">{{priceRanges.1.[type]}} {{priceRanges.1.[min]}} -
                {{priceRanges.1.[max]}} {{priceRanges.1.[currency]}} </p>
            {{/if}}

            {{#if products.1.[url]}}
            <li> <a class="modal__btn modal__btn-buy" href='{{products.1.[url]}}' target="_blank">Buy tickets</a>
                {{/if}}</li>
        </ul>
        </li>
        </ul>
    </div>
</div>

<button class="modal__btn modal__btn-more" type="button" data-action="load" data-idattraction={{idAttraction}}>More from this
    author</button>