<ul class='list set-of-cards__container'>

  {{#each this}}
    <li class='set-of-cards__item scale-in-center' data-id={{id}}>
      <a class='set-of-cards__link' href=''>
        <div class='set-of-cards__decorative-frame swirl-in-fwd'></div>
        <img
          class='set-of-cards__img swirl-in-fwd'
          src={{images.3.url}}
          data-source={{images.5.url}}
          alt={{name}}
        />
        <h2 class='set-of-cards__title'>{{name}}</h2>
      </a>

      <p class='set-of-cards__date-of-incident' style='color: white;'>'{{date}}'</p>
      <p class='set-of-cards__location' href=''>{{venues}}</p>
    </li>
  {{/each}}
</ul>